@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  color: #60697b;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  pađing: 0;
}
.container {
  margin: 0 auto;

  max-width: 1140px;
}
.container_1135 {
  margin: 0 auto;

  max-width: 1135px;
}
.container_home {
  margin: 0 auto;

  max-width: 1180px;
}
.container_home_1360 {
  margin: 0 auto;

  max-width: 1360px;
}
.container_pricing_1360 {
  margin: 0 auto;

  max-width: 1360px;
}

/* home section 1 */

.home__section1 {
  background: linear-gradient(180deg, #fff8ef, rgba(255, 255, 255, 0) 100%);
}
.home__section2 {
  background-color: rgba(254, 254, 254, 1);
}
.home__section2 .yellow {
  color: #fab758;
}
.home__section2 .red {
  color: #e2626b;
}
.home__section2 .green {
  color: #6bbea3;
}
.home__section2 .blue {
  color: #3f78e0;
}

/* home section 3  */

.home__section3 {
  background: linear-gradient(
    0deg,
    #fff8ef,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

/* home section 4 */
.home_section4 {
  background-color: raba(254, 254, 254, 1);
  /* background-color: #edf2f7; */
}
.home_section4.bg-light.angled.lower-start:after,
.home_section4.bg-light.angled.upper-start:before {
  border-left-color: #fefefe;
}
.home_section4.angled.upper-start:before {
  border-left-color: transparent;
  border-left-width: 100vw;
  border-top-width: 4rem;
  top: -4rem;
}
.home_section4.angled:after,
.home_section4.angled:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  z-index: 0;
  border: 0 solid transparent;
}
.home_section4.angled {
  position: relative;
  border: 0;
}
/* home_section6 */
.home_section6 {
  background: linear-gradient(#fefefe, #fbf8f5);
}

/* home_section8 */
.home_section8 {
  background: linear-gradient(0deg, #fff8ef, rgba(255, 255, 255, 0) 100%);
}
/* home_section9 */
.home_section9.bg-light.angled.lower-end:after,
.home_section9.bg-light.angled.upper-end:before {
  border-right-color: #fefefe;
}
.home_section9.angled.upper-end:before {
  border-right-color: transparent;
  border-right-width: 100vw;
  border-top-width: 4rem;
  top: -4rem;
}
.home_section9.angled:after,
.home_section9.angled:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  z-index: 0;
  border: 0 solid transparent;
}
.home_section9.angled {
  position: relative;
  border: 0;
}
/* pricing */
.pricing-page-wapper {
  background-color: #f1f5fd;
}
/* .pricing_faq {
  background: rgba(63, 120, 224, 0.7);
} */
/* About */

.about_section3 {
  background-color: raba(254, 254, 254, 1);
  /* background-color: #edf2f7; */
}
.about_section3.bg-light.angled.lower-start:after,
.about_section3.bg-light.angled.upper-start:before {
  border-left-color: #f1f5fd;
}
.about_section3.angled.upper-start:before {
  border-left-color: transparent;
  border-left-width: 100vw;
  border-top-width: 4rem;
  top: -4rem;
}
.about_section3.angled:after,
.about_section3.angled:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  z-index: 0;
  border: 0 solid transparent;
}
.about_section3.angled {
  position: relative;
  border: 0;
}

/* start witch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;

  left: 4px;
  bottom: 3px;
  background-color: #fab758;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pricing_chooose .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;

  left: 4px;
  bottom: 3px;
  background-color: #3f78e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.price-hide {
  animation: b 1s forwards;

  display: none;
}
.price-show {
  animation: a 1s forwards;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@keyframes a {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes b {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}
/* contac_section1 */
.contac_section1 {
  background-color: #f1f5fd;
}
/* contacn info */
.contact_info.bg-light.angled.lower-end:after,
.contact_info.bg-light.angled.upper-end:before {
  border-right-color: #fefefe;
}
.contact_info.angled.upper-end:before {
  border-right-color: transparent;
  border-right-width: 100vw;
  border-top-width: 4rem;
  top: -4rem;
}
.contact_info.angled:after,
.contact_info.angled:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  z-index: 0;
  border: 0 solid transparent;
}
.contact_info.angled {
  position: relative;
  border: 0;
}
/* end witch */
/* animation */
.animation_button {
  transform: translateY(0);
  transition: 0.5s;
}
.animation_button:hover {
  transform: translateY(-4px);

  box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
}

.hide_show {
  display: none;
}
@media only screen and (max-width: 950px) {
  #header div:nth-of-type(2) {
    display: none;
  }
  .hide_show {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .home_section4 .step_2,
  .about_section2 .step_2 {
    margin-left: 80px;
    margin-top: 30px;
  }
  .home_section4 .step_1,
  .about_section2 .step_1 {
    margin-right: 30px;
  }
  .home_section4 .step_3,
  .about_section2 .step_3 {
    margin: 30px 30px 0 30px;
  }

  /* .home_section8 .community_2 {
    margin-right: 50px;
  } */
  /* .home_section8 .community_3 {
    margin-left: 30px;
  } */
}
